:root {
    --main-color: #f34236;
    --dark-color: #111;
    --light-grey-color: #f3f3f3;
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-main {
    background-color: var(--main-color);
    color: #fff;
}
.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}
.bg-light-grey {
    background-color: var(--light-grey-color);
}

.section-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
    color: var(--dark-color);
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-color);
}

.section-title > span {
    color: var(--main-color);
}